# Little Lemon analysis and sales report

## Set up the database
https://www.coursera.org/learn/database-clients/supplement/Ox8aX/set-up-the-database

In [1]:
import mysql.connector as connector

connection = connector.connect(user="root", password="")

In [2]:
cursor = connection.cursor()
cursor.execute("DROP DATABASE IF EXISTS little_lemon_db")  # added this line to drop the database if it already exists
cursor.execute("CREATE DATABASE little_lemon_db")
cursor.execute("USE little_lemon_db")

In [3]:
#MenuItems table
create_menuitem_table = """
CREATE TABLE MenuItems (
    ItemID INT AUTO_INCREMENT PRIMARY KEY,
    Name VARCHAR(200),
    Type VARCHAR(100),
    Price INT
);
"""

In [4]:
create_menu_table = """
CREATE TABLE Menus (
    MenuID INT,
    ItemID INT,
    Cuisine VARCHAR(100),
    PRIMARY KEY (MenuID, ItemID)
);
"""

In [5]:
create_booking_table = """
CREATE TABLE Bookings (
    BookingID INT AUTO_INCREMENT PRIMARY KEY,
    TableNo INT,
    GuestFirstName VARCHAR(100) NOT NULL,
    GuestLastName VARCHAR(100) NOT NULL,
    BookingSlot TIME NOT NULL,
    EmployeeID INT
);
"""

In [6]:
create_orders_table = """
CREATE TABLE Orders (
    OrderID INT,
    TableNo INT,
    MenuID INT,
    BookingID INT,
    BillAmount INT,
    Quantity INT,
    PRIMARY KEY (OrderID, TableNo)
);
"""

In [7]:
create_employees_table = """
CREATE TABLE Employees (
    EmployeeID INT AUTO_INCREMENT PRIMARY KEY,
    Name VARCHAR(255),
    Role VARCHAR(100),
    Address VARCHAR(255),
    Contact_Number INT,
    Email VARCHAR(255),
    Annual_Salary VARCHAR(100)
);
"""

In [8]:
cursor.execute(create_menuitem_table)
cursor.execute(create_menu_table)
cursor.execute(create_booking_table)
cursor.execute(create_orders_table)
cursor.execute(create_employees_table)

In [9]:
#*******************************************************#
# Insert query to populate "MenuItems" table:
#*******************************************************#
insert_menuitems = """
INSERT INTO MenuItems (ItemID, Name, Type, Price)
VALUES
(1, 'Olives','Starters',5),
(2, 'Flatbread','Starters', 5),
(3, 'Minestrone', 'Starters', 8),
(4, 'Tomato bread','Starters', 8),
(5, 'Falafel', 'Starters', 7),
(6, 'Hummus', 'Starters', 5),
(7, 'Greek salad', 'Main Courses', 15),
(8, 'Bean soup', 'Main Courses', 12),
(9, 'Pizza', 'Main Courses', 15),
(10, 'Greek yoghurt','Desserts', 7),
(11, 'Ice cream', 'Desserts', 6),
(12, 'Cheesecake', 'Desserts', 4),
(13, 'Athens White wine', 'Drinks', 25),
(14, 'Corfu Red Wine', 'Drinks', 30),
(15, 'Turkish Coffee', 'Drinks', 10),
(16, 'Turkish Coffee', 'Drinks', 10),
(17, 'Kabasa', 'Main Courses', 17);"""

#*******************************************************#
# Insert query to populate "Menu" table:
#*******************************************************#
insert_menu = """
INSERT INTO Menus (MenuID,ItemID,Cuisine)
VALUES
(1, 1, 'Greek'),
(1, 7, 'Greek'),
(1, 10, 'Greek'),
(1, 13, 'Greek'),
(2, 3, 'Italian'),
(2, 9, 'Italian'),
(2, 12, 'Italian'),
(2, 15, 'Italian'),
(3, 5, 'Turkish'),
(3, 17, 'Turkish'),
(3, 11, 'Turkish'),
(3, 16, 'Turkish');"""

#*******************************************************#
# Insert query to populate "Bookings" table:
#*******************************************************#
insert_bookings = """
INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES
(1, 12, 'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);"""

#*******************************************************#
# Insert query to populate "Orders" table:
#*******************************************************#
insert_orders = """
INSERT INTO Orders (OrderID, TableNo, MenuID, BookingID, Quantity, BillAmount)
VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43);"""

#*******************************************************#
# Insert query to populate "Employees" table:
#*******************************************************#
insert_employees = """
INSERT INTO employees (EmployeeID, Name, Role, Address, Contact_Number, Email, Annual_Salary)
VALUES
(1, 'Mario Gollini', 'Manager', '724, Parsley Lane, Old Town, Chicago, IL', 351258074, 'Mario.g@littlelemon.com', 70000),
(2, 'Adrian Gollini', 'Assistant Manager', '334, Dill Square, Lincoln Park, Chicago, IL', 351474048, 'Adrian.g@littlelemon.com', 65000),
(3, 'Giorgos Dioudis', 'Head Chef', '879 Sage Street, West Loop, Chicago, IL', 351970582, 'Giorgos.d@littlelemon.com', 50000),
(4, 'Fatma Kaya', 'Assistant Chef', '132 Bay Lane, Chicago, IL', 351963569, 'Fatma.k@littlelemon.com', 45000),
(5, 'Elena Salvai', 'Head Waiter', '989 Thyme Square, EdgeWater, Chicago, IL', 351074198, 'Elena.s@littlelemon.com', 40000),
(6, 'John Millar', 'Receptionist', '245 Dill Square, Lincoln Park, Chicago, IL', 351584508, 'John.m@littlelemon.com', 35000);"""

In [10]:
cursor.execute(insert_menuitems)
connection.commit()
cursor.execute(insert_menu)
connection.commit()
cursor.execute(insert_bookings)
connection.commit()
cursor.execute(insert_orders)
connection.commit()
cursor.execute(insert_employees)
connection.commit()

cursor.close()
connection.close()

# Task 1:
Complete the following steps to establish a connection pool:

* To create a connection pool, import MySQLConnectionPool class from MySQL Connector/Python.
* To find the information on the error, import the Error class from MySQL Connector/Python.
* Define your database configurations as a Python dictionary object called dbconfig.
* Establish a connection pool [pool_name = pool_b] with two connections. 
* Implement error handling using a try-except block in case the connection fails.

In [11]:
# To create a connection pool, import MySQLConnectionPool class from MySQL Connector/Python.
# To find the information on the error, import the Error class from MySQL Connector/Python.
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error

In [12]:
# Define your database configurations as a Python dictionary object called dbconfig.
dbconfig = {
    "user": "root",
    "password": "",
    "host": "localhost",
    "database": "little_lemon_db",
}

In [13]:
# Establish a connection pool with a pool_name 'pool_b' and 2 connections
# Implement error handling using a try-except block in case the connection fails. 
try:
    connection_pool = MySQLConnectionPool(pool_name="pool_b", pool_size=2, **dbconfig)
    print("Connection successful.")
except Error as e:
    print(f"Error: {e}")

Connection successful.

# Task 2:
Three guests are trying to book dinner slots simultaneously. Get the connections from pool_b and insert the following data in the Bookings table:

TIP: You need to add a connection to connect the third guest.


Guest 1:
Table Number: 8
First Name: Anees
Last Name: Java
Booking Time: 18:00
EmployeeID: 6

Guest 2:
Table Number: 5
First Name: Bald
Last Name: Vin
Booking Time: 19:00
EmployeeID: 6

Guest 3:
Table Number: 12
First Name: Jay
Last Name: Kon
Booking Time: 19:30 
EmployeeID: 6

Return all the connections back to the pool. 

TIP: The pool size is two. However, you have three connected users. You can only return two connections. Returning a third connection will raise a PoolError. Use try-except to print the error message.

In [14]:
# SQL Query to insert data into Bookings table
insert_query = """
    INSERT INTO Bookings (TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)
    VALUES (%s, %s, %s, %s, %s)
"""

guests = [
    (8, 'Anees', 'Java', '18:00', 6),  # Guest 1
    (5, 'Bald', 'Vin', '19:00', 6),  # Guest 2
    (12, 'Jay', 'Kon', '19:30', 6)  # Guest 3
]

connection1 = connection_pool.get_connection()
cursor1 = connection1.cursor()
cursor1.execute(insert_query, guests[0])
connection1.commit()
print("Booking added for Guest 1")

# Booking for Guest 2
connection2 = connection_pool.get_connection()
cursor2 = connection2.cursor()
cursor2.execute(insert_query, guests[1])
connection2.commit()
print("Booking added for Guest 2")

# Booking for Guest 3
# TIP: You need to add a connection to connect the third guest.
try:
    connection3 = connection_pool.get_connection()
except:
    print("Failed to get a connection from the pool. The pool is full. Making a new connection.")
    connection=connector.connect(user="root",password="")
    connection_pool.add_connection(cnx=connection)
    print("New connection added")
    connection3 = connection_pool.get_connection()

cursor3 = connection3.cursor()
cursor3.execute(insert_query, guests[2])
connection3.commit()
print("Booking added for Guest 3")

# Return all the connections back to the pool.
# TIP: The pool size is two. However, you have three connected users. You can only return two connections. Returning a third connection will raise a PoolError. Use try-except to print the error message.
for connection in [connection1, connection2, connection3]:
    try:
        connection.close()
        print(f"Connection {connection} is returned to the pool")
    except Error as err:
        print(f"Connection {connection} can't be returned to the pool")
        print(f"Error: {err}")

Booking added for Guest 1
Booking added for Guest 2
Failed to get a connection from the pool. The pool is full. Making a new connection.
New connection added
Booking added for Guest 3
Connection <mysql.connector.pooling.PooledMySQLConnection object at 0x103bef880> is returned to the pool
Connection <mysql.connector.pooling.PooledMySQLConnection object at 0x103bef910> is returned to the pool
Connection <mysql.connector.pooling.PooledMySQLConnection object at 0x10390de80> can't be returned to the pool
Error: Failed adding connection; queue is full

# Task 3:
Create a report containing the following information:

* The name and EmployeeID of the Little Lemon manager.
* The name and role of the employee who receives the highest salary.
* The number of guests booked between 18:00 and 20:00.
* The full name and BookingID of all guests waiting to be seated with the receptionist in sorted order with respect to their BookingSlot.

In [15]:
# The name and EmployeeID of the Little Lemon manager.
manager_report = """
SELECT Name, EmployeeID 
FROM Employees
WHERE Role = 'Manager';
"""

# The name and role of the employee who receives the highest salary.
highest_salary_report = """
SELECT Name, Role
FROM Employees
WHERE Annual_Salary = (
    SELECT MAX(Annual_Salary) FROM Employees
);
"""

# The number of guests booked between 18:00 and 20:00.
guests_report = """
SELECT COUNT(BookingID) AS number_of_guests
FROM Bookings
WHERE BookingSlot BETWEEN '18:00:00' AND '20:00:00';
"""

# The full name and BookingID of all guests waiting to be seated with the receptionist
# in sorted order with respect to their BookingSlot.
waiting_guests_report = """
SELECT 
    CONCAT(Bookings.GuestFirstName, ' ', Bookings.GuestLastName) AS GuestFullName,
    Bookings.BookingID
FROM Bookings
LEFT JOIN Employees 
    ON Employees.EmployeeID = Bookings.EmployeeID
WHERE Employees.Role = 'Receptionist'
ORDER BY Bookings.BookingSlot DESC;
"""

In [16]:
connection = connection_pool.get_connection()
report_cursor = connection.cursor()
print("Created connection to make reports")

print("\n")

report_cursor.execute(manager_report)
manager = report_cursor.fetchall()
print("Manager report (The name and EmployeeID of the Little Lemon manager) :")
print(manager)

print("\n")

report_cursor.execute(highest_salary_report)
highest_salary = report_cursor.fetchall()
print("Highest salary report (The name and role of the employee who receives the highest salary) :")
print(highest_salary)

print("\n")

report_cursor.execute(guests_report)
guests = report_cursor.fetchall()
print("Guests report (The number of guests booked between 18:00 and 20:00) :")
print(guests)

print("\n")

report_cursor.execute(waiting_guests_report)
waiting_guests = report_cursor.fetchall()
print("Waiting guests report (The full name and BookingID of all guests waiting to be seated with the receptionist in sorted order with respect to their BookingSlot) :")

for guest in waiting_guests:
    print(guest)

report_cursor.close()
connection.close()
print("\nClosed connection")

Created connection to make reports


Manager report (The name and EmployeeID of the Little Lemon manager) :
[('Mario Gollini', 1)]


Highest salary report (The name and role of the employee who receives the highest salary) :
[('Mario Gollini', 'Manager')]


Guests report (The number of guests booked between 18:00 and 20:00) :
[(7,)]


Waiting guests report (The full name and BookingID of all guests waiting to be seated with the receptionist in sorted order with respect to their BookingSlot) :
('Jay Kon', 9)
('Bald Vin', 8)
('Anees Java', 7)

Closed connection

# Task 4:
Create a stored procedure named BasicSalesReport that returns the following statistics: 

* Total sales
* Average sale
* Minimum bill paid
* Maximum bill paid

In [17]:
connection = connection_pool.get_connection()
cursor = connection.cursor()
print("Created connection to database\n")

# Create a stored procedure named BasicSalesReport
create_basic_sales_report_procedure = """
CREATE PROCEDURE BasicSalesReport()
BEGIN
    SELECT SUM(BillAmount) AS TotalSales,
           AVG(BillAmount) AS AverageSale,
           MIN(BillAmount) AS MinBillPaid,
           MAX(BillAmount) AS MaxBillPaid
    FROM Orders;
END
"""

cursor.execute(create_basic_sales_report_procedure)

# Call the stored procedure
cursor.callproc('BasicSalesReport')
results = next(cursor.stored_results())
dataset = results.fetchall()

# Get the column names
for column_id in cursor.stored_results():
    cols = [column[0] for column in column_id.description]

# Display the results
for data in dataset:
    print(f"{cols[0]}: {data[0]}")
    print(f"{cols[1]}: {data[1]}")
    print(f"{cols[2]}: {data[2]}")
    print(f"{cols[3]}: {data[3]}")

cursor.close()
connection.close()
print("\nClosed connection")

Created connection to database

TotalSales: 243
AverageSale: 48.6000
MinBillPaid: 37
MaxBillPaid: 86

Closed connection

# Task 5:
Little Lemon needs to display the next three upcoming bookings from the Bookings table on the kitchen screen to notify their chefs which orders are due next. To complete this task, carry out the following steps:

* Get a connection from the pool.
* Create a buffered cursor.
* Combine the data from the Bookings and the Employee tables. Sort the retrieved records in ascending order. Then display the information of the first three guests. 
* Returned the connection back to the pool.

The output should be as follows:

[BookingSlot]
[Guest_name]
[Assigned to: Employee Name [Employee Role]]

In [18]:
# Get a connection from the pool
connection = connection_pool.get_connection()

# Create a buffered cursor
cursor = connection.cursor(buffered=True)

print("Created buffered cursor")

# Query to combine data from Bookings and Employee tables and retrieve the first three guests
upcoming_bookings_query = """
SELECT 
    Bookings.BookingSlot,
    CONCAT(Bookings.GuestFirstName, ' ', Bookings.GuestLastName) AS Guest_Name,
    Employees.Name AS EmployeeName,
    Employees.Role AS EmployeeRole
FROM Bookings
INNER JOIN Employees
    ON Bookings.EmployeeID = Employees.EmployeeID
ORDER BY Bookings.BookingSlot ASC
LIMIT 3;
"""

# Execute the query and fetch results
cursor.execute(upcoming_bookings_query)
results = cursor.fetchall()

# Display the results
for result in results:
    print(f"[{result[0]}]")
    print(f"[{result[1]}]")
    print(f"[Assigned to: {result[2]} [{result[3]}]]")
    print("\n")

cursor.close()
connection.close()
print("\nClosed connection")

Created buffered cursor
[15:00:00]
[Vanessa McCarthy]
[Assigned to: Giorgos Dioudis [Head Chef]]


[17:30:00]
[Marcos Romero]
[Assigned to: Fatma Kaya [Assistant Chef]]


[18:00:00]
[Anees Java]
[Assigned to: John Millar [Receptionist]]



Closed connection